<h1>Eat-Da-Burger</h1>

<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <input type="text" id="brgr" name="name">
  </div>

  <button type="submit">Submit</button>
</form>