body, html{
    min-height: 100%;
}


body{
    margin: 0;
    padding: 0;
    background: #F56217;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #F3904F, #40322a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #F3904F, #40322a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.brgr-list{
    display: flex;
    justify-content: space-around;
}

.brgr-waiting{
    display: flex;
    justify-content: space-around;
}

ul{
list-style-type: none;
}

.brgr-add{
    display: flex;
    justify-content: center;
}