body, html{
    min-height: 100%;
}


body{
    margin: 0;
    padding: 0;
      background: transparent url('../images/burger.jpg') scroll 0 0 no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.brgr-hdr{
    text-align: center;
    font-size: 50px;
}

ul{
    list-style-type: none;
}

.brgr-list{
    display: flex;
    justify-content: center;
    line-height: 1.5;

}

.notEaten{
    margin-right: 200px;
    text-align: center;
}

.brgr-waiting{
    display: flex;
    justify-content: space-between;
    background-color: #95E667;
    margin: 15px;
}

.brgr-eaten{
    background-color: #F45F5F;
    margin: 15px;
}

.brgr-dvr{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}



.devoured{
    text-align: center;
}

.brgr-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3;
}

.add-txt{
    width: 400px;
    line-height: 3;
}

.sbt-txt{
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    border: none;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 120px;
}